.busket{
    width: 40rem;
    margin: 0 auto;
    background-color: white;
    text-align: start;
    
}
.modal__background{
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;

}