.header__top{
    background-color: rgb(112, 42, 179);
    color: white;
    position: sticky;
    top: 0;
}
.header__wrap{
    max-width: 1200px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    padding: 10px;
}